<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>reddot</title>
        <link rel="stylesheet" type="text/css" href="static/style.css" media="screen"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="/static/index.js"></script>
</head>


<body>
<div class="grid-container">
        
        <!--Fixed position top navigation bar-->
        <div class="topnav">
                <a href="#!"><img src="static/images/reddot_logo.png" width="117" height="48" background-position="center"></a>
                <div class="search-container">
                        <div class="searchbar">
                        <label for="search-input" class="search-icon-wrapper">
                        <div class="search-icon"></div>
                        </label>
                        <input type="text" class="search-input" id="search-input" placeholder="Search">
                        </div>
                </div>
                <div class="btn-wrapper" id="btn-wrapper">
                        <a href="/login" class="btn-login" id="btn-login">Log In</a>
                        <a href="/signup" class="btn-signup" id="btn-signup">Sign Up</a>
                </div>
        </div>

        <!-- Create a Post hotbar -->
        <div class="hotbar-container">
                <div class="hotbar-content">
                        <div class="user-ava" id="user-ava"></div>
                        <input type="text" class="post-input" id="post-input" placeholder=" Create a post...">
                        <a href="#!" class="btn-ico" id="btn-chevron-post"><i class="fa fa-chevron-right" aria-hidden="true" ></i>
                        </i></a>
                </div>
        </div>

        <!-- Media scrolling content body -->
        <div class="content-container" id="content-container">
        </div>

        <!-- Side panel accessory content -->
        <div class="sideboard-container">

                <div class="about-container">
                        
                        <div class="about-content">
                                <h2>Welcome to reddot!</h2>
                                <p>The 2nd-to-best runner up to be the front page of the internet.</p>
                                <p> Click below to go to the REAL front page!</p>
                                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn-reddit" target="_blank" rel="noopener noreferrer">Let's Go!</a>
                        </div>
                </div>

                <div class="ad-container">
                        <p>Advertisement</p>
                        <a href="https://keyin.com/program/software-development/" target="_blank" rel="noopener noreferrer"><div class="ad-content">
                        </div></a>
                </div>

                <div class="guidelines-container">
                        <div class="guidelines-content">
                                <h2>Community Guidelines:</h2>
                                <div class="guidelines-content-inner">
                                        <p>1. Be good kiddos</p>
                                        <p>2. Don't be bad</p>
                                        <p>3. Follow rules 1 & 2</p>
                                        <p>4. Breaking rule 5 is permitted</p>
                                        <p>5. Zero Rick Rolling tolerance</p>
                                        <p>6. If you wouldn't say it to your mom, don't post it</p>
                                        <p>7. Dogs are greater than cats, no argument</p>
                                        <p>8. No sueing allowed, I can't afford it</p>
                                        <p>9. Complaints will be ignored</p>
                                        <p>10. If the site breaks, try not to break it further</p>
                                </div>
                        </div>
                </div>

                <div class="ad-container-pizza">
                        <p>Advertisement</p>
                        <a href="https://www.dominos.ca/en/" target="_blank" rel="noopener noreferrer"><div class="ad-content-pizza">
                        </div></a>
                </div>

                <a href="#!" class="btn-topjump">Back to Top</a>
        </div>

</div>



        
</body>
</html>